.plus{
  border-radius: 0.9rem;
  padding-inline: 1rem;
  justify-self: center;
  align-items: center;
  align-self: center;
  align-content: center;
  justify-content: center;
  background-color: var(--green-light);
  border-width: 0.1rem;
  border-color: var(--sky-light)
}

@media (min-width: 824px) {

  .plus {
    border-width: 0.22rem;
  }
}
