.plus{
  border-radius: 1rem;
  padding-inline: 1rem;
  justify-self: center;
  background-color: var(--green-light);
  border-style: groove;
  border-width: 0.22rem;
  border-color: var(--sky-light)
}