.owned-nfts {
  display: grid;
  width: 80svw;
  height: 70svh;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr)) 100px repeat(3, 200px);
  overflow: auto;
  padding: 1rem;
}

.nft:active {
  background-color: green;
}
