@import "colors.css";

#root {
  width: 100%;
  height: 100svh;
  overflow-x: hidden;
  overflow-y: auto;
  color: rgba(255, 255, 255);
}

#root>div[data-rk] {
 height: 100% !important;
 z-index: 2147483646;
 margin: 0 !important; 
 padding: 0 !important;
}

header {
  height: 4.5rem;
}

.app {
  height: 100% !important;
  /* top right bottom left */
  padding: 0.4rem 0.3rem 0.3rem 0.3rem;
  display: grid;
  grid-template-rows: min-content auto max-content;
  grid-gap: 0.2rem;
}
