:root {
  /* Sky Colors */
  --sky-dark: #1A3A5F;
  --sky-medium: #305880;
  --sky-light: #4A78A0;

  /* Cloud Colors */
  --cloud-dark: #4F4F4F;
  --cloud-medium: #B0B0B0;
  --cloud-light: #E0E0E0;

  /* Thunder Colors */
  --thunder-dark: #805500;
  --thunder-medium: #BF8000;
  --thunder-light: #FFD700;

  /* Green Colors */
  --green-dark: #1A4D20;
  --green-medium: #2E6B38;
  --green-light: #3E8B50;

  /* Water Colors */
  --water-dark: #00334D;
  --water-medium: #005580;
  --water-light: #0073A6;

  /* Rock Colors */
  --rock-dark: #2E2E2E;
  --rock-medium: #6E6E6E;
  --rock-light: #9E9E9E;

  --blue-green-darkest: rgba(28, 88, 93, 0.8);
  --blue-green-dark: rgba(50, 144, 153, 0.8);
  /*--blue-green-medium: rgba(32, 185, 172, 0.8);*/
  --blue-green-medium: rgba(14, 135, 125, 0.8);
  --blue-green-light: rgba(6, 180, 165, 0.8);

  --dark-bg-color-5: rgb(25, 29, 36);

  --full-gradient: linear-gradient(66deg,
      var(--green-medium) 0%,
      var(--green-light) 15%,
      var(--water-medium) 40%,
      var(--water-light) 60%,
      var(--green-light) 100%);
}
