footer {
  display: grid;
  justify-content: center;
  padding-inline: 1rem;
  grid-template-columns: 0.3fr 0.333fr 0.333fr;
  height: 2.4rem;
  border-style: groove;
  border-width: 0.12rem;
  border-radius: 0.3rem;
  border-color: var(--sky-light);
  grid-gap: 1rem;
  background-color: var(--water-medium);
  align-items: center;
}

footer-button {
  color: var(--cloud-medium);
  background-color: var(--water-light);
  border-width: 0.1rem;
  color: rgba(255, 255, 255) !important;
  height: 92%;
  border-radius: 0.2rem;
  border-style: groove;
  border-color: var(--sky-light);
}

footer>button {
  background-color: var(--water-light);
  color: rgba(255, 255, 255) !important;
  border-width: 0.1rem;
  height: 92%;
  border-radius: 0.2rem;
  border-style: groove;
  border-color: var(--sky-light);
  word-wrap: nowrap;
  white-space: nowrap;
  overflow-x: auto;

  &[data-pressed] {
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 0.1);
    background: var(--button-background-pressed);
    border-color: var(--green-dark);
    opacity: 0.85;
  }
}

.roadmap-list {
  margin-top: 0;
}

.legend {
  display: grid;
  grid-auto-flow: row;
  gap: 0.3rem;
}

.legend-symbol {
  display: flex;
  gap: 0.5rem;
}