@import "colors.css";

.account-manager {
  justify-self: right;
  z-index: 2147483647;
}

.header-content {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
}

.header-content h1 {
  font-weight: 400;
  font-stretch: semi-expanded;
  font-family: "Luminari";
  color: var(--cloud-medium);
  font-size: 2rem;
  line-height: 3rem;
  border-radius: 1.5rem;
  grid-column: 1;
  justify-self: left;
  align-items: center;
  -webkit-text-fill-color: initial;
  padding-inline: 0.5rem;
  background-image: var(--full-gradient);
  border-style: groove;
  border-width: 0.05rem;
  border-color: var(--sky-light);
}

@media (min-width: 824px) {
  .header-content button {
    padding-inline: 0.3rem;
    padding-block: 0.2rem;
    border-style: groove;
    border-width: 0.2rem;
    border-color: var(--programs-color);
  }
}

