@import "colors.css";

header {
  margin: 0 !important;
  padding: 0 !important;
}

.separator {
  width: 0;
  height: 70%;
  border-right: solid var(--blue-green-light) 0.15rem;
}

.account-manager {
  justify-self: right;
  z-index: 2147483547;
  margin-right: 0.12rem; 
}

@media (prefers-color-scheme: light) {
  .header-content button {
    background-color: #FFFF;
  }
}

.account-manager svg {
  display: none;
}

.header-content {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 0.5fr min-content max-content;
  gap: 0.3rem;
}

.header-content>button {
  height: 80%;
    margin-right: 0.25rem;
}

.header-content h1 {
  font-weight: 400;
  height: 95%;
  font-stretch: semi-expanded;
  font-family: "Luminari";
  white-space: nowrap;
  color: var(--cloud-medium);
  font-size: 2rem;
  border-radius: 1.5rem;
  grid-column: 1;
  justify-self: left;
  align-items: center;
  -webkit-text-fill-color: initial;
  padding-inline: 0.5rem;
  background-image: var(--full-gradient);
  border-style: groove;
  border-width: 0.05rem;
  border-color: var(--sky-light);
}

@media (min-width: 824px) {
  .header-content button {
    padding-inline: 0.3rem;
    padding-block: 0.2rem;
    border-style: groove;
    border-width: 0.2rem;
    border-color: var(--programs-color);
  }

  .header-content>button {
    height: 80%;
    margin-right: 0.25rem;
  }

  .separator {
    width: 0;
    height: 70%;
    border-right: solid var(--blue-green-light) 0.15rem;
    margin-right: 0.5rem;
  }
}