@import "colors.css";

.map-wrapper {
  border-radius: 0.7rem;
}

.map-controls {
  background-color: var(--green-medium);
  display: grid;
  grid-template-columns: 0.12fr 0.055fr 0.12fr;
  z-index: 240000000;
  gap: 0.36rem;
  align-items: center;
  font-size: 1.2em;
  padding-inline: 0.5rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  height: 3rem;
}

@media (max-width: 720px) {
  .map-controls {
    grid-template-columns: 0.20fr 0.17fr 0.24fr;
  }
}

@media (min-width: 824px) {
  .map-controls {
    grid-template-columns: 0.10fr 0.07fr 0.10fr;
  }
}

@media (min-width: 1224px) {
  .map-controls {
    grid-template-columns: 0.10fr 0.05fr 0.10fr;
  }
}

.map-controls>button:active {
  box-shadow: inset 0 1px 2px rgb(0 0 0 / 0.1);
  background: var(--button-background-pressed);
  border-color: var(--cloud-dark);
  opacity: 0.55;
}

.map-controls>button:focus-visible {
  outline: 2px solid var(--focus-ring-color) !important;
  outline-offset: -1px;
}

.map-controls>button:active {
  box-shadow: inset 0 1px 2px rgb(0 0 0 / 0.1);
  background: var(--button-background-pressed);
  border-color: var(--cloud-dark);
  opacity: 0.55;
}

.map-controls>* {
  display: grid;
  background-color: var(--green-light);
  height: 75%;
  width: 100%;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  align-items: center;
  border-radius: 0.91rem;
  border-style: groove;
  border-width: 0.12rem;
  border-color: var(--sky-light);
  justify-content: center;
  max-width: 25rem;
  word-wrap: nowrap;
  white-space: nowrap;
  overflow-x: auto;
  overflow: hidden
}

.filter {
  display: flex;
  gap: 0.12rem;
}

.legend-symbol>img {
  height: 1.12em;
}


.leaflet-control-attribution {
  position: absolute;
  top: 0.7rem;
}

.leaflet-popup-content {
  margin-inline: 0.4rem !important;
  margin-top: 0.4rem !important;
  width: min-content !important;
  min-width: 3.5rem;
  overflow-x: auto;
}

.leaflet-popup-content p {
  margin: 0 !important;
}

.leaflet-popup-content button {
  background-color: var(--water-light);
  border-radius: 0.7rem;
  padding-inline: 0 !important;
  margin: 0;
  border-width: 0rem;
  font-size: 107%;
  margin: auto;
  color: rgba(255, 255, 255) !important;
}

.leaflet-popup-content button[data-type="add"] {
  width: 3rem;
}

.leaflet-popup-content button[data-type="delete"] {
  background-color: var(--red-medium-light);
  width: 3.7rem;
}

.leaflet-popup-content button:disabled {
  opacity: 0.6;
}

.leaflet-control-layers-expanded {
  opacity: 0.87;
}

.leaflet-control-layers-expanded {
  opacity: 0.87;
}

/* Safari bug fix for leaflet issue #8068. */
@supports (-webkit-touch-callout: none) {
  .leaflet-control-container .leaflet-top,
  .leaflet-control-container .leaflet-bottom {
    will-change: transform;
  }
}

.leaflet-control-layers {
  background-color: orange;
}  

.leaflet-top.leaflet-right input[type="checkbox"] {
  accent-color: var(--blue-green-medium);
  border-radius: 1rem;
}

.leaflet-top.leaflet-right > .leaflet-control-layers-expanded {
  color: white;
  background-color: var(--blue-green-darkest);
  padding-top: 0.17rem;
  padding-inline: 0.2rem;
  border-radius: 0.7rem;
  width: 8rem;
  height: 8.4rem;
  overflow-y: scroll;
}

@media (min-width: 744px) {

  .leaflet-top.leaflet-right>.leaflet-control-layers-expanded {
    width: 12rem;
    height: 12.4rem;
    overflow-y: scroll;
  }
}
/*
.leaflet-control-container > div.leaflet-top.leaflet-right > div > section > div.leaflet-control-layers-overlays > label > span * {
}

#root > div > main > div > div.leaflet-control-container > div.leaflet-top.leaflet-right > div > section > div.leaflet-control-layers-overlays > label:nth-child(7) > span > span {
}
*/

.leaflet-top.leaflet-right > .leaflet-control-layers-expanded div {
  padding-top: 0.3rem;
}

.leaflet-top.leaflet-right {
  padding: 0;
  margin: -0.4rem;
}

.leaflet-top.leaflet-left {
  padding: 0;
  margin: -0.3rem;
}

.leaflet-bottom.leaflet-right {
  position: absolute;
  bottom: 4rem
}

.leaflet-popup-content-wrapper {
  width: fit-content;
}

.post-popup-header {
  border-radius: 1rem;
  align-items: center;
  display: grid;
  gap: 0.15rem;
  padding-top: 0.2rem;
  grid-template-columns: 0.12fr 1fr 0.1fr;
  grid-auto-flow: dense;
}

.post-popup-content > p {
  border-color:  hsl(165deg 34% 75%);
 /* background-color: rgba(28, 88, 93, 0.7);;*/

  background-color: hsl(165deg 34% 95%);
  word-wrap: break-word;
  border-radius: 0.45rem;
  padding: 0.1rem;
  margin: 0;
  border-width: 0.1rem;
  border-style: solid;
  color: black;
}

.post-popup-footer {
  display: block;
  white-space: nowrap;
}

.popup-post {

  display: grid;
  grid-auto-flow: row dense;
  gap: 0.4rem;
}

.popup-post > * {
  color: black;
}
