@import "colors.css";

.map-controls {
  background-color: var(--green-medium);
  display: grid;
  z-index: 240000000;
  gap: 0.36rem;
  align-items: center;
  font-size: 1.2em;
  padding-inline: 0.4rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  grid-template-columns: 0.23fr 0.2fr 0.27fr;
  height: 3rem;
}

.map-controls>* {
  display: grid;
  background-color: var(--green-light);
  height: 85%;
  width: 100%;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  align-items: center;
  border-radius: 0.8rem;
  border-style: groove;
  border-width: 0.12rem;
  border-color: var(--sky-light);
  justify-content: center;
  max-width: 25rem;
}

.react-aria-Heading {
  padding-block: 0.6rem;
}

.filter {
  display: flex;
  gap: 0.23rem;
  /*opacity: 0.4;*/
}

.legend-symbol>img {
  height: 1.12em;
}

.leaflet-bottom.leaflet-right { position: absolute; bottom: 4rem } 
.leaflet-control-attribution {
  position: absolute; top: 0.7rem;
}