/* The base of these styles come from the default react-aria docs for the respective components. The rest are app specific edits.*/
@import "@react-aria/example-theme";
@import "colors.css";

.react-aria-Button {
  color: var(--text-color);
  background: var(--button-background);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  appearance: none;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  text-align: center;
  margin: 0;
  padding: 6px 10px;
  text-decoration: none;

  &[data-pressed] {
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 0.1);
    background: var(--button-background-pressed);
    border-color: var(--cloud-dark);
    opacity: 0.55;
  }

  &[data-focus-visible] {
    outline: 2px solid var(--focus-ring-color);
    outline-offset: -1px;
  }

  &[data-disabled] {
    border-color: var(--border-color-disabled);
    color: var(--text-color-disabled);
  }
}

/* dialog */

.react-aria-Dialog {
  outline: none;
  align-self: top;
  padding: 1rem;
  box-sizing: border-box;
  overflow: auto;

  .react-aria-Heading[slot=title] {
    line-height: 1em;
  }
}

.react-aria-Dialog form>* {
  padding-block: 0.2rem;
}

.react-aria-Dialog button {
  /*background-color: var(--green-medium);*/
  background-color: var(--water-light);
  border-width: 0;
  border-radius: 0.7rem;
  margin-top: 0.5rem;
  width: 100%;
  line-height: 2rem;
}

/* scrollbar styling */
  .react-aria-Dialog::-webkit-scrollbar {
    width: 1.3rem;
    height: 1.5rem;
  }

  .react-aria-Dialog::-webkit-scrollbar-thumb {
    background: var(--horizontal-thumb);
    box-shadow: inset 0 0 0.15rem 0.2rem var(--dark-bg-color-5);
    border-radius: 0.6rem;
    min-width: 3rem;
  }

  .react-aria-Dialog::-webkit-scrollbar-track:vertical {
    background: var(--full-gradient-h-2);
    box-shadow: inset 0 0 0.4rem 0.1rem var(--dark-bg-color-5);
    border-radius: 3rem;
  }

  .react-aria-Dialog::-webkit-scrollbar-track:horizontal {
    background: var(--full-gradient-h);
    border-radius: 3rem;
    box-shadow: inset 0 0 0.3rem 0.1rem var(--dark-bg-color-5);
  }

  .react-aria-Dialog::-webkit-scrollbar-corner {
    background: var(--full-gradient);
    border-radius: 0.6rem;
  }

  .react-aria-Dialog::-webkit-scrollbar-button:single-button {
    background: var(--full-gradient);
    border-radius: 1.5rem;
    border-width: 0.16rem;
    border-color: var(--blue-green-medium);
    display: block;
    border-style: groove;
    height: 1.5rem;
    width: 2rem;
    transition: border-width 1s ease-in-out;
  }

  .react-aria-Dialog::-webkit-scrollbar-button:single-button:hover {
    border-width: 0.18rem;
  }

  .react-aria-Dialog::-webkit-scrollbar-button:single-button:active {
    border-width: 0.58rem;
  }

/* form and form fields */

.react-aria-NumberField {
  margin-bottom: 8px;
  color: var(--text-color);

  .react-aria-Group {
    display: flex;
    width: fit-content;
    border-radius: 4px;

    &[data-focus-within] {
      outline: 1px solid var(--focus-ring-color);

      .react-aria-Input,
      .react-aria-Button {
        border-color: var(--focus-ring-color);
      }
    }
  }

  .react-aria-Button {
    font-size: 1.4rem;
    width: 2.3rem;
    padding: 0;

    &[slot=decrement] {
      border-start-end-radius: 0;
      border-end-end-radius: 0;
    }

    &[slot=increment] {
      border-start-start-radius: 0;
      border-end-start-radius: 0;
    }
  }

  .react-aria-Input {
    background: var(--field-background);
    border: 1px solid var(--border-color);
    border-radius: 0;
    color: var(--field-text-color);
    margin: 0 -1px;
    font-size: 1rem;
    padding: 0.429rem 0.571rem;
    outline: none;
    width: 6rem;
    flex: 1;
  }

  &[data-invalid] {

    .react-aria-Input,
    .react-aria-Button {
      border-color: var(--invalid-color);
    }

    &:focus-within {

      .react-aria-Input,
      .react-aria-Button {
        border-color: var(--focus-ring-color);
      }
    }
  }

  .react-aria-FieldError {
    font-size: 12px;
    color: var(--invalid-color);
  }

  [slot=description] {
    font-size: 12px;
  }

  .react-aria-Button {
    &[data-disabled] {
      border-color: var(--border-color-disabled);
      color: var(--text-color-disabled);
    }
  }

  .react-aria-Input {
    &[data-disabled] {
      border-color: var(--border-color-disabled);
      color: var(--text-color-disabled);
    }
  }
}

.react-aria-TextField {
  display: flex;
  flex-direction: column;
  width: fit-content;
  color: var(--text-color);

  .react-aria-Input,
  .react-aria-TextArea {
    padding: 0.286rem;
    margin: 0;
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    background: var(--field-background);
    font-size: 1.143rem;
    color: var(--field-text-color);

    &[data-focused] {
      outline: 2px solid var(--focus-ring-color);
      outline-offset: -1px;
    }
  }

  .react-aria-Input,
  .react-aria-TextArea {
    &[data-invalid] {
      border-color: var(--invalid-color);
    }
  }

  .react-aria-FieldError {
    font-size: 12px;
    color: var(--invalid-color);
  }

  [slot=description] {
    font-size: 12px;
  }

  .react-aria-Input,
  .react-aria-TextArea {
    &[data-disabled] {
      border-color: var(--border-color-disabled);
      color: var(--text-color-disabled);
    }
  }
}

/* modal and modal overlay */

.react-aria-ModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--visual-viewport-height);
  background: rgba(0 0 0 / .5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2147483600;

  &[data-entering] {
    animation: modal-fade 200ms;
  }

  &[data-exiting] {
    animation: modal-fade 150ms reverse ease-in;
  }
}

.react-aria-Modal {
  box-shadow: 0 8px 20px rgba(0 0 0 / 0.1);
  border-radius: 0.85rem;
  background: var(--overlay-background);
  color: var(--text-color);
  border: 1px solid var(--gray-400);
  outline: none;
  background-color: var(--blue-green-medium-opaque);
  opacity: 0.90;
  z-index: 2147483601;

  &[data-entering] {
    animation: modal-zoom 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
}

@keyframes modal-fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes modal-zoom {
  from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1);
  }
}

@keyframes mymodal-blur {
  from {
    background: rgba(45 0 0 / 0);
    backdrop-filter: blur(0);
  }

  to {
    background: rgba(45 0 0 / .3);
    backdrop-filter: blur(10px);
  }
}

@keyframes mymodal-slide {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

/* popover */

.react-aria-Popover {
  --background-color: var(--blue-green-medium-opaque);
  opacity: 0.9;
  position: absolute;
  z-index: 2147483645;

  border: 0.1rem solid var(--border-color);
  box-shadow: 0 8px 20px rgba(66, 144, 81, 0.1);
  border-radius: 0.4rem;
  background: var(--background-color);
  color: var(--text-color);
  outline: none;
  width: min-content;
  height: min-content;

  .react-aria-OverlayArrow svg {
    display: block;
    fill: var(--background-color);
    stroke: var(--border-color);
    stroke-width: 1px;
  }

  &[data-placement=top] {
    --origin: translateY(8px);

    &:has(.react-aria-OverlayArrow) {
      margin-bottom: 6px;
    }
  }

  &[data-placement=bottom] {
    --origin: translateY(-8px);

    &:has(.react-aria-OverlayArrow) {
      margin-top: 6px;
    }

    .react-aria-OverlayArrow svg {
      transform: rotate(180deg);
    }
  }

  &[data-placement=right] {
    --origin: translateX(-8px);

    &:has(.react-aria-OverlayArrow) {
      margin-left: 6px;
    }

    .react-aria-OverlayArrow svg {
      transform: rotate(90deg);
    }
  }

  &[data-placement=left] {
    --origin: translateX(8px);

    &:has(.react-aria-OverlayArrow) {
      margin-right: 6px;
    }

    .react-aria-OverlayArrow svg {
      transform: rotate(-90deg);
    }
  }

  &[data-entering] {
    animation: popover-slide 200ms;
  }

  &[data-exiting] {
    animation: popover-slide 200ms reverse ease-in;
  }
}

@keyframes popover-slide {
  from {
    transform: var(--origin);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* menu */

.react-aria-Menu {
  max-height: inherit;
  box-sizing: border-box;
  overflow: auto;
  padding: 2px;
  min-width: 150px;
  box-sizing: border-box;
  outline: none;
}

.react-aria-MenuItem {
  margin: 2px;
  padding: 0.286rem 0.571rem;
  border-width: 0.1rem;
  border-style: groove;
  border-color: var(--blue-green-darkest);
  border-radius: 0.5rem;
  outline: none;
  cursor: default;
  color: var(--text-color);
  font-size: 1.072rem;
  position: relative;
  display: grid;
  align-items: center;
  forced-color-adjust: none;

  &[data-focused] {
    background: var(--highlight-background);
    color: var(--highlight-foreground);
  }
}

.react-aria-MenuItem[role="menuitemcheckbox"][aria-checked="true"] {
  background-color: var(--blue-green-light);
  opacity: 1;
  color: white;
}

.react-aria-MenuItem[role="menuitemcheckbox"][aria-disabled="true"] {
  background-color: var(--blue-green-medium);
  opacity: 0.50;
}

/* select */

.react-aria-ListBox {
  z-index: 2147483646;
}

.react-aria-ListBoxItem {
  z-index: 2147483646;
}

.react-aria-Select {
  z-index: 2147483646;
  color: var(--text-color);

  .react-aria-Button {
    box-shadow: 0 1px 2px rgba(0 0 0 / 0.1);
    border-radius: 6px;
    font-size: 1.072rem;
    padding: 0.286rem 0.286rem 0.286rem 0.571rem;
    display: flex;
    align-items: center;
    max-width: 250px;

    &[data-focus-visible] {
      outline: 2px solid var(--focus-ring-color);
      outline-offset: -1px;
    }
  }

  .react-aria-SelectValue {
    &[data-placeholder] {
      font-style: italic;
      color: var(--text-color-placeholder);
    }
  }

  span[aria-hidden] {
    width: 1.5rem;
    line-height: 1.375rem;
    margin-left: 1rem;
    padding: 1px;
    background: var(--highlight-background);
    color: var(--highlight-foreground);
    forced-color-adjust: none;
    border-radius: 4px;
    font-size: 0.857rem;
  }
}

.react-aria-Popover[data-trigger="Select"] {
  min-width: var(--trigger-width);
  position: absolute;
  z-index: 2147483646;

  .react-aria-ListBoxItem {
    padding: 0.286rem 0.571rem 0.286rem 1.571rem;
    &[data-focus-visible] {
      outline: none;
    }

    &[data-selected] {
      font-weight: 600;
      background: unset;
      color: var(--text-color);

      &::before {
        content: '✓';
        content: '✓' / '';
        alt: ' ';
        position: absolute;
        top: 4px;
        left: 4px;
      }
    }

    &[data-focused],
    &[data-pressed] {
      background: var(--highlight-background);
      color: var(--highlight-foreground);
    }
  }
}