@import "colors.css";

.timeline {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 0.5rem;
  height: 100%;
  width: 100%;
}

.timeline-header {
  display: grid;
  grid-template-columns: 1fr max-content;
}

.timeline-header>h3 {
  display: "inline-block";
  margin: 0;
  padding: 0;
}

.posts {
  display: grid;
  grid-auto-flow: row;
  border-radius: 1rem;
  gap: 2rem;
  overflow-y: auto;
}

.post {
  display: grid;
  background-color: var(--blue-green-dark);
  grid-auto-flow: row;
  border-radius: 1.45rem;
  width: 98%;
  padding: 0.5rem;
}

.post-header {
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.post-content {
  max-height: 8rem;
  background-color: var(--blue-green-darkest);
  word-wrap: break-word;
  overflow-y: auto;
}

.post-footer {
  background-color: var(--blue-green-dark);
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 1rem;
}
