@import "colors.css";

.timeline {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 0.5rem;
  height: 100%;
  width: 100%;
}

.timeline-header {
  display: grid;
  grid-template-columns: 1fr max-content;
}

.timeline-header>h3 {
  display: "inline-block";
  margin: 0;
  padding: 0;
}

.posts {
  display: grid;
  grid-auto-flow: row;
  border-radius: 1rem;
  background-color: var(--blue-green-medium-opaque);
  gap: 0.4rem;
  overflow-y: auto;
}

.post {
  display: grid;
  background-color: var(--blue-green-dark);
  grid-auto-flow: row;
  gap: 0.35rem;
  border-radius: 1.45rem;
  width: 98%;
  padding-inline: 0.7rem;
  padding-block: 0.6rem;
}

.post-header {
  border-radius: 1rem;
  align-items: center;
  display: grid;
  gap: 0.05rem;
  grid-template-columns: 0.12fr auto 0.1fr;
  grid-auto-flow: dense;
}

.post-content {
  min-height: 3rem;
  max-height: 8rem;
  background-color: var(--blue-green-darkest);
  word-wrap: break-word;
  overflow-y: auto;
  border-radius: 0.25rem;
}

.post-footer {
  border-radius: 1rem;
  align-items: center;
  display: grid;
  gap: 0.15rem;
  grid-template-columns: auto 0.1fr;
  grid-auto-flow: dense;
}
